## .NET / build output
bin/
obj/
out/
*.user
*.suo

## Rider / VS / VS Code
.idea/
.vs/
*.swp
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

## OS junk
.DS_Store
Thumbs.db

## NuGet
*.nupkg
**/packages/*
!**/packages/build/

## Avalonia previewer cache
**/.avalonia/
